body
{background-image: url("http://www.bhmpics.com/walls/darkness_evening_sea_waves-other.jpg")

}


h1
{
border: 6px;
border-style: groove;
border-color: darkgoldenrod;
border-width: 6px;
margin: 0;
text-align: center;
text-color: darkgreen;
padding-top: 6px;
padding-bottom: 6px;
  }

h2
{
  text-align: center;  
}
h3
{ content:"\e008";
  border: 6px;
  border-width: 3px; 
  border-style: ridge;
  border-color: rgb(129, 93, 0);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px; 
  text-align: center;
  padding-bottom: 2px;
}

p1
{border: 6px;
  border-width: 3px; 
  
}

.responsive{
  width: 100%;
  max-width: 400px;
  height: auto;
}

html, body 
{
  height: 100%;
}
body
{
  display: flex;
  flex-direction: column;
}
.content 
{
  flex: 1 0 auto;
}
.footer 
{
  flex-shrink: 0;
  text-align: center;
}